<!DOCTYPE html>

<html lang="en">
<head>
  <% include ./partials/head %>
</head>
  <body class="container">

    <header>
      <% include ./partials/header %>
    </header>

    <main>
      <div class="row">
        <div class="col-sm-12">
          <div id='chart_div'>
            <img id='chart' src='../images/petal.gif'>
            <div>
              <img id='arrow' src='../images/arrow.png'>
            </div>
          </div>
        </div>
      </div>

    </main>

    <footer>
      <% include ./partials/footer %>
    </footer>

      <% include ./partials/scripts %>

  </body>
</html>