<!DOCTYPE html>

<html lang="en">
<head>
  <% include ./partials/head %>
</head>
  <body class="container">

    <header>
      <% include ./partials/header %>
    </header>

    <main>
    <button id='up'>Up</button>
      <div class="col-sm-4" id='title'>
        <h1>Project Petal</h1>
        <h3>The general feeling today...</h3>
      </div>
      <div class="col-sm-8">
        <div id='chart_div'>
          <img id='chart' src='../images/petal.gif'>
          <div>
            <img id='arrow' src='../images/arrow.png'>
          </div>
        </div>
      </div>

    </main>

    <footer>
      <% include ./partials/footer %>
    </footer>

      <% include ./partials/scripts %>

  </body>
</html>