body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.row {
  margin-top: 100px;
}

a {
  color: #00B7FF;
}

p {
	text-align: right;
	padding-right: 180px;
	font-size: 18px;
	margin-top: 5px;	
	padding-bottom: 5px;
	color: #565656;
}

input {
	width: 256px;
	height: 23px;
}

#submit {
	font-weight: 500;
  font-size: 20px;
  height: 30px;
  border-radius: 20px;
  width: 150px;
  border: none;
  color: #F3F2F2;
  background-color: #565656;
}
}

