<!DOCTYPE html>

<html lang="en">
<head>
  <% include ../partials/head %>
</head>
  <body class="container">

    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <h1>How are you feeling?</h1>
      <div id='all_moods'>
        <button class='angry'></button>
        <button class='upset'></button>
        <button class='ok'></button>
        <button class='happy'></button>
        <button class='ecstatic'></button>
      </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>

      <% include ../partials/scripts %>

  </body>
</html>